/* mobile */
.NavigationItem {
  margin: 10px 0;
  box-sizing: border-box;
  width: 100%;
  display: block;
}

.NavigationItem a {
  color: #8f5c2c;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.NavigationItem a:hover, .NavigationItem a:active, .NavigationItem a.active{
  color: #40A4C8;
}

/* desktop */
@media (min-width: 500px) {
  .NavigationItem {
    margin: 0;
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
  }
  
  .NavigationItem a {
    color: white;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
  }
  
  .NavigationItem a:hover, .NavigationItem a:active, .NavigationItem a.active{
    background-color: #8F5C2C;
    border-bottom: 4px solid #40A4C8;
    color: white;
  }
}